.circle {
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-radius: 100%;
  margin: 0 auto;
}
.red {
    background-color: red;
}
.yelow {
    background-color: yellow;
}
.green {
    background-color: green;
}
